body {
  font-family: 'Roboto', sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

input,
button {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

button {
  cursor: pointer;
  margin-right: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

li {
  margin-bottom: 10px;
}

span {
  display: flex;
  justify-content: flex-end;
}

.panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.panel-item {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.panel-item::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: linear-gradient(135deg,#00ff00,#00ff00,#ff0000,#00ff00,#00ff00);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.panel-item:hover::before {
  opacity: 1;
}

.status-off {
  background-color: #ff0000;
}

.status-on {
  background-color: #00ff00;
}